VITE_OWNER1_URL=https://owner1.example.com
VITE_OWNER2_URL=https://owner2.example.com
VITE_OWNER3_URL=https://owner3.example.com
VITE_OWNER4_URL=https://owner4.example.com
VITE_OWNER5_URL=https://owner5.example.com
VITE_OWNER6_URL=https://owner6.example.com
VITE_OWNER7_URL=https://owner7.example.com
VITE_OWNER8_URL=https://owner8.example.com
